* {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui;
    background: #FF1493;
    height: 8vh;
}
.nav-list {
    list-style: none;
    display: flex;

}
.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}
.mobile-menu {
    display: none;
    cursor: pointer;
}
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
.logo1{
    width: 40px;
    height: 35px;
}
#Banner {
    
    max-width: 90%;
    border-radius: 2%;
}
body {
    background: linear-gradient(#FF69B4, white);
    margin: 0;
    padding: 0;
    
    
}
.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides {
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide {
    width: 25%;    
    position: relative;
    transition: 2s;
}
.slide img{
    width: 800px;
}
.manual-nav {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s; 
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: white;
}
#radio1:checked ~ .first{
    margin-left:0;
}
#radio2:checked ~ .first{
    margin-left:-25%;
}
#radio3:checked ~ .first{
    margin-left:-50%;
}
.nav-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 2s;
}
.nav-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.nav-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: white;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: white;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
